<h1 class="form-text pt-3 pb-3 mb-3" style="text-align: center; margin: 10px">Your bookings</h1>
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="card card-rounded" style="width: 16rem;">
        <img class="card-img-top card-rounded-img" src="<%= booking.plant.image %>"/>
        <div class="card-body text-center form-text">
          <h4 class="card-title form-text"><%= booking.plant.name %></h4>
          <p><i><%= booking.start_date.strftime("%d %b %y") %> - <%= booking.end_date.strftime("%d %b %y") %></i></p>
          <%= link_to 'Delete booking', booking_path(booking), method: :delete, class: "form-text btn btn-light", data: {confirm: "are you sure?"} %>
        </div>
      </div>
    <% end %>

</div>
