<nav class="navbar navbar-light bg-success">
  <a class="navbar-brand text-dark">Plants App ðŸŒ¿</a>

  <div class="text-center" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row">
      <li class="nav-item active pr-3">
        <%= link_to 'Plants ðŸŒ±', plants_path, class:" text-dark text-decoration-none"%><span class="sr-only"><span>(current)</span></a>
      </li>
      <li class="nav-item pr-3">
        <%= link_to 'List your plant ðŸ', new_plant_path, class: " text-dark text-decoration-none"%>
      </li>
      <li class="nav-item pr-3">
        <%= link_to 'Bookings ðŸ¥¬', bookings_path, class: "text-dark text-decoration-none" %>
      </li>
    </ul>
  </div>  
  <div class="dropdown show">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sign In/Out
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% if user_signed_in? %>
        <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a>
      <% else %>
        <a class="dropdown-item" href="<%= new_user_session_path %>">Sign in</a>
        <a class="dropdown-item" href="<%= new_user_registration_path %>">Create an account</a>
      <% end %>
    </div>
  </div>
</nav>
