<h3 class="m-3 text-center">Plants</h3>
<div class="container">
<%= form_tag plants_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a plant"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<div class="container">
  <div class="cards">
    <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
    <div class="card-trip">
      <% if plant.photo.attached? %>
        <%= cl_image_tag plant.photo.key %>
      <% else %>
        <img src=" <%=plant.image%>" alt="<%= plant.name %>">
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2> <%= plant.name %> </h2>
          <p> <%= plant.description.truncate(150) %> </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
