
<div class="d-flex pt-3 pb-4 justify-content-center">
  <div class="input-style">
<%= form_tag plants_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control input-style mt-1",
    placeholder: "Find a plant"
  %>
  </div>
  <div class="pl-2">
  <%= submit_tag "Search", class: "mt-1 btn search-btn" %>
<% end %>
</div>
</div>

<div class="container">
  <div class="cards">
    <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
    <div class="card-trip">
      <% if plant.photo.attached? %>
        <%= cl_image_tag plant.photo.key %>
      <% else %>
        <img src=" <%=plant.image%>" alt="<%= plant.name %>">
      <% end %>
      <div class="card-trip-infos">
        <div class="card-text">
          <h2> <%= plant.name %> </h2>
          <p> <%= plant.description.truncate(150) %> </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
