<div class="d-flex flex-row">

  <div class= "d-flex justify-content-center col-6 m-5">
    <% if @plant.photo.attached? %>
    <%= cl_image_tag @plant.photo.key, class: "img-card" %>
    <% else %>
    <img class="img-card justify-content-center" src=" <%=@plant.image%>" alt="<%= @plant.name %>">
    <% end %>
    <div class="mt-4 ml-5">
      <h1> <%= @plant.name %> </h1>
      <p class="card-text-p"> <%= @plant.description %> </p>
    </div>
  </div>

  <div class="button-position">
    <% if @plant.user == current_user %>

      <%= link_to 'Remove Plant', plant_path(@plant), method: :delete, class: "btn btn-remove", id: "delete-plant-btn"%>

    <% else %>
      <%= link_to 'Rent Plant', new_plant_booking_path(@plant), class: "btn btn-create mr-3" %>
    <% end %>
  </div>

  <div class="col-6 ml-auto" id="map"
  style="position: sticky; height: 100vh; width: 550px "
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
