<div class="container">

  <div class="card-show">
    <% if @plant.photo.attached? %>
      <%= cl_image_tag @plant.photo.key %>
    <% else %>
      <img src=" <%=@plant.image%>" alt="<%= @plant.name %>">
    <% end %> 
    <div class ="card-text rounded">
      <h1> <%= @plant.name %> </h1>
      <p> <%= @plant.description %> </p>
      <div class="d-flex">
        <% if @plant.user == current_user %>
          <%= link_to 'Remove Plant', plant_path(@plant), method: :delete, class: "btn btn-light", data: {confirm: "are you sure?"} %>
        <% else %>
          <%= link_to 'Rent Plant', new_plant_booking_path(@plant), class: "btn btn-success mr-2" %>
        <% end %>
      </div>

  </div>
</div>

<div id="map"
           style="width: 100%; height: 300px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

</div>
